@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
.my-slider {
    height: auto !important;
    max-height: 85vh !important;
    object-fit: contain;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.alert{
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

}



/* custom scroll bar */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: rgb(40, 0, 0);
    padding: 4px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(40, 0, 0), rgb(255, 0, 0), rgb(40, 0, 0)) !important;
    border-radius: 5px;
}

.nav-link{
    @apply
    cursor-pointer
    hover:scale-105 hover:text-black
    transition-all duration-75
    text-sm sm:text-base
    
}
.input-box{
    @apply
    outline-none
    bg-white text-slate-500
    rounded-md
    px-4 py-3 my-2
    font-semibold text-sm sm:text-base
    w-full
    shadow-md
    focus:border-2 focus:border-green-400
    transition-all duration-75
}
